h1 {
  padding-bottom: 20px;
}
button {

  margin-bottom: 20px;

}

.darkTheme {
  background-color: rgb(114, 108, 108);
  opacity: 0.9;
  transition-property: background-color;
  transition-duration: 20s;
}

.spinner {
  position: fixed;
left: 50%;
top: 30%;
}
